:root {
  --background-color-primary: #06171e;
  --font-color-primary: rgb(201, 201, 201);
  --header-footer-color-primary: #09212a;
}

@font-face {
  font-family: "Atkinson";
  src: url(./assets/fonts/AtkinsonHyperlegibleMono-VariableFont_wght.ttf);
}

html {
  font-family: "Atkinson";
  color: var(--font-color-primary);
}

body {
  margin: 0 auto;
  background-color: var(--background-color-primary);

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  overflow: auto;
}

h1 {
  margin: 0;
  padding-bottom: 16px;
  text-align: center;
}

h2 {
  margin: 0;
}

p {
  text-align: center;
}

button {
  cursor: pointer;
  background-color: transparent;
}

dialog button {
  border: 1px solid white;
}

header {
  max-width: 1440px;
  margin: 0 auto;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.picture_preview button:hover {
  filter: brightness(170%);
}

.header_background {
  z-index: -1;
  height: 100px;
  background-color: var(--header-footer-color-primary);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main_content {
  margin: 0 auto;
  padding: 132px 32px 32px 32px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.picture_preview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 60px;
}

.picture_preview button {
  border: 0;
  padding: 0;
}

.picture_preview img {
  aspect-ratio: 1/1;
  width: 10%;
  object-fit: cover;
  border-radius: 15px;
}

.picture_preview img:hover {
  filter: brightness(140%);
  cursor: zoom-in;
}

dialog {
  padding: 0;
  background-color: transparent;
  border-radius: 32px;
}

.opened::backdrop {
  background-color: rgb(0, 0, 0, 0.9);
}

.dialog_header {
  height: 100px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog_close:hover {
  border: 1px solid white;
  border-radius: 8px;
  border-color: blue;
}

.dialog_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 850px;
  border-radius: 30px;
  background-color: #06171e;
  color: antiquewhite;
}

.dialog_image {
  max-width: 70%;
  max-height: 70%;
  padding: 0 24px;
}

.dialog_footer {
  width: 450px;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.dialog_footer button {
  border-radius: 50%;
}

.dialog_footer button:hover {
  border-radius: 50%;
  border-color: blue;
  cursor: pointer;
}

footer {
  margin-top: auto;
}

footer img {
  width: 50px;
  vertical-align: middle;
}

.footer_content {
  max-width: 1440px;
  margin: 0 auto;
}

.footer_background {
  background-color: var(--header-footer-color-primary);
  width: 100%;
  margin-top: auto;
  height: 128px;
  border-radius: 50% 50% 0 0 / 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1440px) {
  header {
    padding: 0 24px;
  }
}

@media (max-width: 800px) {
  .dialog_section {
    width: 500px;
    height: 700px;
  }

  .picture_preview img {
    width: 20%;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  .main_content {
    padding-left: 12px;
    padding-right: 12px;
  }

  .picture_preview {
    padding: 0;
  }

  .picture_preview img {
    width: 40%;
  }

  .dialog_header {
    width: 260px;
    height: 100px;
  }

  .dialog_section {
    width: 300px;
    height: 650px;
  }

  .dialogImage {
    max-width: 90%;
    max-height: 60%;
    padding: 0 8px;
  }

  .dialog_footer {
    width: 250px;
  }

  .footer_text {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .dialog_section {
    width: 300px;
    height: 500px;
  }

  .dialog_footer button img {
    width: 50px;
    height: 50px;
  }

  .footer_text {
    width: 250px;
  }
}

@media (max-width: 355px) {
  .dialog_header {
    width: 200px;
  }

  .dialog_header button img {
    width: 20px;
  }

  .dialogImage {
    max-width: 60%;
  }

  .dialog_section {
    width: 250px;
    padding: 0;
    margin: 0;
    border: none;
  }
  .dialog_image {
    width: 300px;
    padding: 0;
  }

  .dialog_footer {
    width: 200px;
    padding-bottom: 12px;
  }
}
