:root {
  --background-color-primary: #06171e;
  --font-color-primary: rgb(201, 201, 201);
  --header-footer-color-primary: #09212a;
}

body {
  margin: 0 auto;
  background-color: var(--background-color-primary);

  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

#page_content {
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  color: var(--font-color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  max-width: 1440px;
  margin: 0 auto;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#header_background {
  z-index: -1;
  height: 100px;
  background-color: var(--header-footer-color-primary);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main_content {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#picture_preview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 60px;
}

#picture_preview img {
  height: 100px;
  width: 100px;
  border: 1px solid lightblue;
  border-radius: 15px;
}

#picture_preview img:hover {
  filter: brightness(140%);
  cursor: zoom-in;
}

dialog {
  padding: 0;
  background-color: transparent;
  border-radius: 32px;
}

.opened::backdrop {
  background-color: rgb(0, 0, 0, 0.9);
}

#dialog_header {
  height: 100px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dialog_headline {
  font-size: 24px;
}

#dialog_close:hover {
  border: 1px solid white;
  border-radius: 8px;
}

#dialog_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 850px;
  border-radius: 30px;
  background-color: #06171e;
  color: antiquewhite;
}

#image_dialog {
  max-width: 70%;
  max-height: 70%;
  padding: 0 24px;
}

#dialog_footer {
  width: 250px;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

#dialog_footer img:hover {
  background-color: rebeccapurple;
  border-radius: 50%;
  cursor: pointer;
}

footer {
  margin-top: auto;
}

#footer_content {
  max-width: 1440px;
  margin: 0 auto;
}

#footer_background {
  background-color: var(--header-footer-color-primary);
  width: 100%;
  margin-top: auto;
  height: 128px;
  border-radius: 50% 50% 0 0 / 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  #dialog_section {
    width: 500px;
    height: 650px;
  }
}
